<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source
  ~ Copyright 2011 Red Hat Inc. and/or its affiliates and other contributors
  ~ as indicated by the @author tags. All rights reserved.
  ~ See the copyright.txt in the distribution for a
  ~ full listing of individual contributors.
  ~
  ~ This copyrighted material is made available to anyone wishing to use,
  ~ modify, copy, or redistribute it subject to the terms and conditions
  ~ of the GNU Lesser General Public License, v. 2.1.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT A
  ~ WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  ~ PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~ You should have received a copy of the GNU Lesser General Public License,
  ~ v.2.1 along with this distribution; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA  02110-1301, USA.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.switchyard.component.soap">

    <resources>
        <resource-root path="switchyard-component-soap-${project.version}.jar"/>
    </resources>

    <dependencies>
        <!-- Needed for @Resource annotations -->
        <module name="javax.annotation.api"/>
        <module name="javax.api"/>
        <module name="javax.servlet.api"/>
        <module name="javax.wsdl4j.api"/>
        <module name="org.apache.cxf" export="true"/>
        <module name="org.apache.cxf.impl" export="true"/>
        <module name="org.apache.ws.security" export="true"/>
        <module name="org.apache.log4j"/>
        <module name="org.jboss.as.webservices" export="true"/>
        <module name="org.jboss.ws.api" export="false"/>
        <module name="org.jboss.ws.spi" services="import" export="true"/>
        <module name="org.jboss.ws.cxf.jbossws-cxf-server" export="true"/>
        <module name="org.switchyard.api"/>
        <module name="org.switchyard.common"/>
        <module name="org.switchyard.config"/>
        <module name="org.switchyard.deploy"/>
        <module name="org.switchyard.component.common"/>
        <module name="org.switchyard.component.soap.ws-impl"/>
        <module name="org.switchyard.component.soap.saaj-impl"/>
        <module name="org.switchyard.security" export="true"/>
    </dependencies>
</module>
