<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module xmlns="urn:jboss:module:1.0" name="org.switchyard.switchyard-forge-plugin.dependencies" slot="${project.version}">
  <resources>
    <!-- external libs -->
    <resource-root path="xalan-${version.xalan}.jar"/>
    <resource-root path="serializer-${version.xalan}.jar"/>
    <resource-root path="camel-core-${version.camel}.jar"/>
    <resource-root path="commons-management-${version.fusesource.commonman}.jar"/>
    <resource-root path="jboss-jaxb-api_2.2_spec-${version.jaxb.api}.jar"/>
    <resource-root path="jaxb-impl-${version.jaxb.impl}.jar"/>
      
    <!-- switchyard libs -->
    <resource-root path="switchyard-api-${project.version}.jar"/>
    <resource-root path="switchyard-common-${project.version}.jar"/>
    <resource-root path="switchyard-config-${project.version}.jar"/>
    <resource-root path="switchyard-deploy-${project.version}.jar"/>
    <resource-root path="switchyard-transform-${project.version}.jar"/>
  </resources>
  
  <dependencies>
    <module name="javax.api"/>
    <module name="org.jboss.forge" export="true">
      <imports>
        <include path="org/apache/log4j"/>
      </imports>
    </module>
  </dependencies>
  
</module>
