<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>gwtProxy</servlet-name>
        <servlet-class>org.jboss.as.console.server.proxy.XmlHttpProxyServlet</servlet-class>
        <init-param>
            <param-name>config.name</param-name>
            <param-value>gwt-proxy.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>uploadProxy</servlet-name>
        <servlet-class>org.jboss.as.console.server.proxy.XmlHttpProxyServlet</servlet-class>
        <init-param>
            <param-name>config.name</param-name>
            <param-value>upload-proxy.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>gwtProxy</servlet-name>
        <url-pattern>/app/proxy/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadProxy</servlet-name>
        <url-pattern>/app/upload/*</url-pattern>
    </servlet-mapping>

</web-app>
